.nav-container {

    width: 50%;
    min-height: 20px;
    display: flex;
    align-items: center;
}

.special {
    color: #FF5400;

}

.nav-section {
    max-width: 1200px;

    margin: 0 auto;
    display: flex;
    margin-top: 10px;
}

nav a {
    text-decoration: none;

}

.input2 {
    margin-right: 24px;
}

.right-section {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-1 {
    color: #FF5400;
}

.icon {
    display: block;
}

.input2,
input3,
input4 {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}




.btn {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    color: white;
    border: none;
}

.explore {
    max-width: 1200px;

    margin: 0 auto;
    height: 500px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.title1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    align-items: center;

}

.input2 {
    border-radius: 8px;
    background: #FFF;
    width: 160px;
    height: 52px;
    padding-left: 20px;
    border: none;
    gap: 5px;
}

.popular {
    display: flex;
}

.second {
    max-width: 1200px;

    margin: 0 auto;
    height: 500px;

    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.img-bn {
    width: 540px;
    height: 300px;
    flex-shrink: 0;
}

.mnb {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: white;
    border: none;
}

.maldive1 {
    background-image: url(../Images/Rectangle\ 5.png);
    width: 573px;
    height: 300px;
    flex-shrink: 0;
}

.indonesia1 {
    background-image: url(../Images/Rectangle\ 8.png);
    width: 573px;
    height: 300px;
    flex-shrink: 0;

}

p {
    color: #FFF;

    text-align: center;
    font-size: 28px;
    font-weight: 800;

}

.beauty {
    max-width: 1200px;
    margin: 0 auto;
}

.beauty1 {
    text-align: center;
}

.beauty2 {
    display: flex;
    gap: 24px;
}

.srilanka1 {
    background-image: url(../Images/Rectangle\ 6.png);
    width: 374px;
    height: 286px;
    flex-shrink: 0;
}

.north-america1 {
    background-image: url(../Images/Rectangle\ 7.png);
    width: 474px;
    height: 286px;
    flex-shrink: 0;
}

.kashmir1 {
    background-image: url(../Images/Rectangle\ 9.png);
    width: 274px;
    height: 286px;
    flex-shrink: 0;
}

.beauty3 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    margin-top: 10px;

}

.bangladesh1 {
    background-image: url(../Images/Rectangle\ 11.png);
    width: 473px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px;
}

.bandarban1 {
    background-image: url(../Images/Rectangle\ 10.png);
    width: 673px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px;

}

.beauty4 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    margin-top: 10px;

}

.descrip {
    color: rgba(19, 19, 24, 0.70);

}

.choose1 {
    text-align: center;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.beauty5 {
    max-width: 1200px;
    margin: 0 auto;
}

.hotel {

    padding-left: 10px;
    width: 573px;
    height: 284px;

    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.map {
    width: 573px;
    height: 284px;

    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.map-hotel {
    display: flex;
    gap: 20px;
}

.box-title {
    margin-right: 100px;
    margin-top: 20px;
    padding-left: 20px;
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.deal {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.discount {
    color: rgba(19, 19, 24, 0.70);
}

.deal-discount {
    text-align: center;
}

.simple {
    color: #131318;
    font-size: 40px;
    font-weight: 800;

}

.mountain {
    background-image: url(../Images/Rectangle\ 11.png);
    width: 400px;
    height: 424px;
    flex-shrink: 0;
    border-radius: 16px;
    background-repeat: no-repeat;
}

.mountain12 {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
}

.resort {
    color: #5A5A5D;
    font-size: small;
}

.title12 {
    color: #5A5A5D;

}

.save {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
}

.subscription-btn {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: white;
    border: none;
    margin-top: 10px;
}

.name23 {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding-left: 10px;
    margin-bottom: 10px;
}

.input-bro {
    display: block;
}

.footer-sec {
    max-width: 1200px;
    margin: 0 auto;
    width: 1440px;
    height: 502px;
    flex-shrink: 0;
    background: rgba(19, 19, 24, 0.05);
}

.social-icons {
    text-align: center;
    margin-right: 5px;
}

.last {

    color: #131318;
    text-align: center;
}

hr {
    width: 872px;
    height: 1px;
    color: #1313181A;
}

.title-tour {
    color: #5A5A5D;
}

.title-tour1 {
    color: #5A5A5D;
}

.bok-now {
    width: 150px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: white;
    border: none;
    margin-left: 200px;
}

.bok-now1 {
    width: 150px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: white;
    border: none;
    margin-left: 200px;
}

.last-fot {
    color: #FF5400;
}

.bonus11111 {
    margin-top: 10px;
    margin-bottom: 15px;

}




.opu {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 579px;
    height: 300px;
    flex-shrink: 0;
    margin-left: 600px;
    margin-top: 56px;
    margin-bottom: 10px;
}



.bed1 {
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.bed {
    background-image: url(../Images/Group\ 40.png);
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;

}






.finalll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #090921;
}

.hotel:hover {
    border: 2px solid aquamarine;
}

.map:hover {
    border: 2px solid orangered;
}

.box-title:hover {
    border: blue;
}

.host {
    color: rgba(19, 19, 24, 0.70);
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.description {
    text-align: center;
    width: 43%;
}

.clientIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clientIcon span {
    margin-left: 10px;
}

.clientIcon {
    width: 40px;
}

.reviewSection {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.umbrella {
    background-image: url(../Images/Group\ 39.png);
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    margin-top: 10px;
    max-width: 1200px;
}

.reviewItem {
    width: 300px;
    padding: 10px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #10102a;
    border: 1px solid #10102a;
    transition: all .2s linear;
}

.reviewItem:hover {
    border-color: aqua;
    transform: scale(1.01);
    background-color: #090921;
    box-shadow: 0 0px 5px 0px #cbc0c0;
}

.top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top ul {
    display: flex;
    list-style: none;
}

.top ul li {
    padding-left: 4px;
}

article p {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 1rem;

}


@media screen and (max-width:600px) {
    .container {
        height: auto;
    }

    .description {
        width: 90%;
    }
}

@media screen and (max-width:375px) {
    .reviewSection {
        padding: 0;
    }

    .reviewItem {
        width: 100%;
    }

    .clientImage {
        margin-bottom: 0.6rem;
    }

    .top {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}